<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <meta charset="utf-8">
  <title>Flatfreeze</title>
  <meta name="description" content="Flatfreeze flattens and freezes in one go!">
  <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
</head>
<body>
{% block content %}
  <div id="banner">
    <div class="columns">
      <div class="column column-3-5"><img src="{{ url_for('static', filename='images/logo.png') }}" width="400px" height="200px"></div>
      <div class="column column-2-5" id="links">
        <p>
          <a href="TODO" class="linkbutton">Follow the Tutorial</a>
        </p>
        <p>
          <a href="TODO" class="linkbutton">Discuss on Hacker news</a>
        </p>
        <p>
          <a href="TODO" class="linkbutton">Follow on Twitter</a>
        </p>
        <p>
          <a href="TODO" class="linkbutton">Clone on Github</a>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column column-3-5 pitch" id="catchphrase">
        Workflow for static site generation using nothing but Flask and git.
      </div>
      <div class="column column-2-5 pitch" id="properties">
        <ul>
          <li>Custom domain name</li>
          <li>Full Git revision control</li>
          <li>Jinja templating</li>
          <li>Free hosting on Github Pages</li>
          <li>Not limited to blogging</li>
          <li>Less than 60 lines of Python</li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endblock %}
</body>
</html>